{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Story 10: Hanifah Annisa Putri</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <style>
            body {
            padding: 10% 5% 5% 5%;
            background-color: #00313C;
            }

            .btn-primary, .btn-primary:active, .btn-primary:visited {
                background-color: #E31C79;
                border-color: black;
            }

            .btn-primary:hover {
                background-color: rgb(168, 24, 92);
                border-color: black;
            }

            input#id_username, input#id_password {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1%;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }

            a {
                color: white;
            }

            a:hover {
                color: #E31C73;
            }

            h1 {
                color: white;  
                font-weight: 700
            }

            p {
                color: white;
                font-weight: 700 !important;
            }
        </style>
    </head>

    <body>
        {% block content %}
        <h1> Welcome, {{user.username}} </h1>
        <a href="{% url 'logout' %}">Logout</a>

    </body>

</html>
{% endblock %}